html {
  background-image: linear-gradient(125deg, #030308, #6b6699);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}
.container {
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}
.name {
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: capitalize;
  text-shadow: 4px 2px 4px rgb(0, 0, 0);
  margin-bottom: 1rem;
}
.resumeSection {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  width: 20rem;
  box-shadow: 4px 4px 1px -2px rgb(33 40 65);
  max-width: 50rem;
  background-color: rgb(80, 76, 115);
}
.resumeSection a {
  display: flex;
  justify-content: center;
  position: relative;
  top: -18px;

  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.download {
  color: azure;
  margin-top: 15px;
  margin-left: 18px;
}

.icons {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.icons a {
  text-decoration: none;
  color: rgb(208, 195, 195);
}

.icons a :hover {
  color: rgb(130, 127, 134);
}

.description {
  flex: auto;
  font-size: 0.4rem;
  color: white;
  margin: 3rem auto;
  text-transform: capitalize;
  text-shadow: 4px 2px 4px rgb(0, 0, 0);
  justify-content: center;
}

.projectIcons {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20rem;
  height: auto;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 2rem;
  justify-content: space-between;
  padding: 10px;
}

.projectIcons a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.projectIcons a :hover {
  color: rgb(88, 87, 86);
  transform: translate();
}

.lastSection {
  margin-top: 3rem;
  text-decoration: none;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

@media screen and (min-width: 860px) {
  .description {
    font-size: medium;
    flex: auto;
    color: white;
    margin: 3rem auto;
    text-transform: capitalize;
    text-shadow: 4px 2px 4px rgb(0, 0, 0);
    justify-content: center;
  }
  .projectIcons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 60rem;
    height: auto;
    display: flex;
    justify-content: space-around;
  }
  .resumeSection {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    width: 70rem;
    box-shadow: 4px 4px 1px -2px rgb(33 40 65);
    max-width: 50rem;
    background-color: rgb(80, 76, 115);
  }
}
